@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(245, 246, 251, 1) !important;
}

/* Pagina inicial de todos os Eventos */

.container {
  padding: 3rem;
}

.box-inicial {
  margin-bottom: 2rem;
}

.box-inicial h1, .box-inicial-evento h1 {
  font-size: 5rem !important;
  padding: 2rem;
  text-align: center;
  color: #4E342E !important;
}

.box-inicial p {
  font-size: 2rem !important;
  text-align: center;
  color: #4E342E !important;
}

.box-inicial i {
  font-size: 1rem;
}

.box-inicial-evento p {
  font-size: 16px !important;
  text-align: center;
  color: #4E342E !important;
}

.image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover; 
  border-radius: 6px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: none;
}

.overlay a {
  pointer-events: auto;
  text-decoration: none;
  color: rgba(30, 156, 197, 1) !important;
}

.overlay a:hover, .overlay i:hover {
  color: rgba(30, 156, 197, 0.8) !important;
  transition: .4s ease-in;
}

.caption {
  font-size: 2rem;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(30, 156, 197, 1) !important;
}

.thumbnail {
  padding-bottom: 1.25rem;
}

.thumbnail:hover {
  transform: translateY(-4px);
  transition: .5s ease-in-out;
}

.img-container:hover .overlay {
  opacity: 1;
}

/* Evento */
.capa-evento {
  display: block; 
  margin: 0 auto; 
  border-radius: 6px ;
  width: 900px; 
  height: 500px;
}

.container-evento-info {
  border: 1px solid #4E342E;
  border-radius: 5px;
  padding: 30px !important;
}

.evento-descricao h3, .evento-servico h3 {
  color: #444;
  font-size: 32px;
  margin-bottom: 20px;
}

.evento-descricao p {
  font-size: 16px;
  color: #4E342E;
}

.servico-info {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
  margin: 20px;
  padding: 8px !important;
  max-height: 180px;
}

.servico-info .servico-pergunta {
  font-size: 18px;
  font-weight: 700;
  color: #444;
}

.servico-info .servico-resposta {
  font-size: 16px;
  color: #4E342E;
}
#getAllEventos, .container #back-tabela, #add-event {
  text-decoration: none;
  padding: 10px;
  background: #0074e4;
  border-radius: 6px;
  font-size: 18px;
  color: white;
}

#getAllEventos:hover, .container #back-tabela:hover, #add-event:hover {  
  background: #0057a5;
}

table td{
    padding: 20px;
}
.tabela-actions {
  display: flex;
  gap: 10px;
}